body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
    overflow: hidden;
}

#canvasContainer {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex: 1;
}

#gameCanvas {
    margin: 0px;
    background: black;
    flex: 1;
}

#loadingLabel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', monospace;
    font-weight: 900;
    font-size: 1.5rem;
    color: #ffff00;
    z-index: 10;
}

audio {
    display: none;
}